# Database Configuration (Cấu hình kết nối sang AWS RDS)
DB_HOST=db-finance-tracker.cwholn2fehh0.us-east-1.rds.amazonaws.com
DB_USER=admin
DB_PASSWORD=21102005
DB_NAME=finance-tracker

# Flask Configuration
SECRET_KEY=your-secret-key-here-change-in-production
JWT_SECRET_KEY=your-jwt-secret-key-here