# Database Configuration (Cấu hình kết nối sang AWS RDS)
DB_HOST=database-1.cxnk8clzvd0u.us-east-1.rds.amazonaws.com
DB_USER=admin
DB_PASSWORD=thanhdo2110
DB_NAME=finance_tracker

# Flask Configuration
SECRET_KEY=your-secret-key-here-change-in-production
JWT_SECRET_KEY=your-jwt-secret-key-here